<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PastelariaMvc</title>
    
    @* UIKit *@
    <link rel="stylesheet" href="~/css/uikit.css" />

    @* UIKit CDN *@
    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/css/uikit.min.css" /> *@

    @* BOOTSTRAP *@
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" /> *@


</head>
<body>
    <header>
        <nav class="uk-navbar-container uk-margin" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" asp-area="" asp-controller="Usuario" asp-action="HomeGestor" asp-route-id="1">Pastelaria SMN</a>
            </div>

            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li>
                        <a asp-area="" asp-controller="Usuario" asp-action="ConsultarUsuario" asp-route-id="17">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                            Minha Conta
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Tarefa" asp-action="VerTodas" asp-route-id="1">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: list"></span>
                            Todas Tarefas
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Tarefa" asp-action="Listar" asp-route-id="1">
                            @* 
                            ToDo - JM
                            ViewComponent para mostrar a quantidade de tarefas em tempo real 
                            ********
                            *@
                            <span class="uk-badge uk-padding-small">
                                <span uk-icon="icon: warning"></span>
                                <span class="uk-margin-small-left">11</span>
                            </span>

                            @* <span uk-icon="icon: warning; ratio: 1.5"></span>
                            <span class="uk-text-large">11</span> *@
                        </a>
                    </li>
                </ul>
            </div>

            <div class="uk-navbar-right">
                <div class="uk-navbar-item ">
                    <span class="uk-text-light uk-text-large uk-margin-right">Olá, usuário</span>
                    <a class="uk-button uk-button-danger uk-button-small uk-margin-left">
                        Sair
                        <span uk-icon="icon: sign-out"></span>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div class="uk-container">
        <main class="uk-container">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="uk-container">
            &copy; 2021 - PastelariaMvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/uikit.js"></script>
    <script src="~/js/uikit-icons.js"></script>

    @* <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/js/uikit-icons.min.js"></script> *@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
