<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PastelariaMvc</title>
    
    @* UIKit *@
    <link rel="stylesheet" href="~/css/uikit.css" />

    @* UIKit CDN *@
    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/css/uikit.min.css" /> *@

    @* BOOTSTRAP *@
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" /> *@


</head>
<body>
    <header>
        <nav class="uk-navbar-container uk-margin" uk-navbar>
            <div class="uk-navbar uk-flex-between">

                @* <div class="uk-flex-left">
                </div> *@
                    <a class="uk-navbar-item uk-logo" asp-area="" asp-controller="Usuario" asp-action="HomeGestor" asp-route-id="1">Pastelaria SMN</a>
                
                @* <div class="uk-flex-center">
                </div> *@
                    <ul class="uk-navbar-nav">
                        <li>
                            <a asp-area="" asp-controller="Usuario" asp-action="ConsultarSubordinado" asp-route-id="15">
                                <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                                Minha Conta
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Tarefa" asp-action="VerTodas" asp-route-id="1">
                                <span class="uk-icon uk-margin-small-right" uk-icon="icon: list"></span>
                                Todas Tarefas
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Tarefa" asp-action="Listar" asp-route-id="1">
                                @* 
                                ToDo - JM
                                ViewComponent para mostrar a quantidade de tarefas em tempo real 
                                ********
                                *@
                                <span class="uk-badge">11</span>
                            </a>
                        </li>
                    </ul>
                

                @* <div class="uk-flex-right">
                </div> *@
                    <div class="uk-navbar-item ">
                        <span class="uk-text-light uk-text-large">Olá, usuário</span>
                        <button class="uk-button uk-button-danger uk-button-small">Sair</button>
                    </div>

            </div>
        </nav>
    </header>

    <div class="uk-container">
        <main class="uk-container">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="uk-container">
            &copy; 2021 - PastelariaMvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/uikit.js"></script>
    <script src="~/js/uikit-icons.js"></script>

    @* <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/js/uikit-icons.min.js"></script> *@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
