@model ComentarioRespostaViewModel

<h2>Comentários</h2>
@if (@Model.Comentarios.Any())
{
    @foreach (var comentario in @Model.Comentarios)
    {
        <h3>@comentario.IdTarefa</h3>
        <p>@comentario.Descricao</p>
    }
}else
{
    <h3>Lista de comentários está vazia</h3>
}