<h2>Cancelar Tarefa</h2>

<form asp-controller="Tarefa" asp-action="CancelarTarefa" method="get" class="form-horizontal" role="form">

    <input type="submit" class="btn btn-success" value="Cancelar" />

</form>