@using Microsoft.AspNetCore.Http
@using PastelariaMvc.Infra;

@{var token = Context.Session.GetString("Token"); }
@{var idLogado = DecodeToken.getId(token); }
@{var eGestorLogado = DecodeToken.getEGestor(token); }

@model CriarTarefaViewModel

<div class="uk-margin-medium uk-margin-small-top">
    <h1 class="uk-text-center uk-heading-line"><span>Cadastrar Tarefa</span></h1>
</div>

<div class="uk-container uk-container-xsmall">
    <form asp-controller="Tarefa" asp-action="CriarTarefa" method="post" class="uk-form-stacked" role="form">
            
        <div class="uk-margin">
            <label asp-for="Tarefa.Descricao" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" asp-for="Tarefa.Descricao" type="text" placeholder="Digite a descriçao da tarefa">
                <span asp-validation-for="Tarefa.Descricao" class="uk-text-danger"></span>
            </div>
        </div>    

        <div class="uk-margin">
            <label asp-for="Tarefa.DataLimite" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" asp-for="Tarefa.DataLimite" type="datetime-local" placeholder="Escolha a data limite da tarefa">
                <span asp-validation-for="Tarefa.DataLimite" class="uk-text-danger"></span>
            </div>
        </div>   

        @if(eGestorLogado)
        {
        <div class="uk-margin">
            <label asp-for="Tarefa.IdSubordinado" class="uk-form-label uk-text-large"></label>
            <select asp-for="Tarefa.IdSubordinado" class="uk-select"
                asp-items="@(new SelectList(Model.Subordinados,"IdUsuario","Nome"))">
                <option value="" selected disabled hidden>Escolha o subordinado</option>

            </select>
            <span asp-validation-for="Tarefa.IdSubordinado" class="uk-text-danger"></span>
        </div>
        }        

        <div class="uk-margin">
            <label class="uk-form-label uk-text-large" asp-for="Tarefa.IdStatusTarefa"></label>
            <div class="uk-form-controls">
                <select class="uk-select" asp-for="Tarefa.IdStatusTarefa">
                    <option value="" selected disabled hidden>Escolha um status</option>
                    <option value="1">Concluída</option>
                    <option value="2">Futura</option>
                    <option value="3">Agendada</option>
                    <option value="4">Atrasada</option>
                    <option value="5">Cancelada</option>
                </select>
                <span asp-validation-for="Tarefa.IdStatusTarefa" class="uk-text-danger"></span>
            </div>
        </div>

        <input type="submit" class="uk-button uk-button-primary uk-button-large" value="Registrar" />
    </form>
</div>