@model EditarDataLimiteViewModel

@{
    ViewData["Title"] = "Editar Data Limite";
}

<form asp-controller="Tarefa" asp-action="EditarDataLimite" method="get" class="form-horizontal" role="form">

    <label asp-for="DataLimite" class="col-md-2 control-label"></label>
    <input asp-for="DataLimite" class="form-control" />
    
    <br>

    <input type="submit" class="btn btn-success" value="Atualizar" />

</form>