@model Usuario

@{
    ViewData["Title"] = "Criar Usuário";
}

@section scripts {
    @* <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    @* <script src="http://jqueryvalidation.org/files/dist/jquery.validate.js"></script> *@
    @* <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>
    <script src="~/js/criarusuario.js"></script>
    <script>
        criarUsuario();
    </script>
}

<div class="uk-margin-medium uk-margin-small-top">
    <h1 class="uk-text-center uk-heading-line"><span>Cadastrar Usuário</span></h1>
</div>

<div class="uk-container uk-container-xsmall">
    <form id="criarUsuario" asp-controller="Usuario" asp-action="CriarUsuario" method="post" class="uk-form-stacked" role="form">
        <div class="uk-margin">
            <label asp-for="Nome" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" asp-for="Nome" placeholder="Digite o nome do usuário" required>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Sobrenome" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" asp-for="Sobrenome" placeholder="Digite o sobrenome do usuário" required>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="DataNascimento" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" asp-for="DataNascimento" placeholder="Digite ou selecione a data de nascimento" required>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Senha" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input id="Senha" class="uk-input" asp-for="Senha" placeholder="Digite a senha" required>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="ConfirmarSenha" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input id="CSenha" class="uk-input" asp-for="ConfirmarSenha" placeholder="Confirme a senha" required>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label uk-text-large" asp-for="EGestor"></label>
            <div class="uk-form-controls">
                <select class="uk-select" asp-for="EGestor">
                    <option selected>Escolha uma opção</option>
                    <option value="false">Não</option>
                    <option value="true">Sim</option>
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Email.EnderecoEmail" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" asp-for="Email.EnderecoEmail" placeholder="Digite o endereço de email" required>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Telefone.DDD" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input inputDDD" asp-for="Telefone.DDD" placeholder="Digite o DDD" required>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Telefone.Numero" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input inputTel" asp-for="Telefone.Numero" placeholder="Digite o número do telefone" required>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label uk-text-large" asp-for="Telefone.IdTipo"></label>
            <div class="uk-form-controls">
                <select class="uk-select" asp-for="Telefone.IdTipo" required>
                    <option selected>Escolha uma opção</option>
                    <option value="1">Residencial</option>
                    <option value="2">Celular</option>
                    <option value="3">Emergencial</option>
                    <option value="4">Corporativo</option>
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Endereco.CEP" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input inputCep" id="cep" asp-for="Endereco.CEP" placeholder="Digite apenas os números do CEP" required>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Endereco.Rua" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" id="endereco" asp-for="Endereco.Rua" placeholder="Digite a rua" required>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Endereco.Bairro" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" id="bairro" asp-for="Endereco.Bairro" placeholder="Digite o bairro" required>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Endereco.Numero" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" asp-for="Endereco.Numero" placeholder="Digite o número do local" required>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Endereco.Complemento" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" asp-for="Endereco.Complemento" placeholder="Digite o complemento" required>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Endereco.Cidade" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" id="cidade" asp-for="Endereco.Cidade" placeholder="Digite a cidade" required>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Endereco.UF" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" id="uf" asp-for="Endereco.UF" placeholder="Digite o estado" required>
            </div>
        </div>

        @* <input onClick="validarSenha()" class="uk-button uk-button-primary uk-button-large" value="Criar Usuario" /> *@

        @* Modal para confirmar Criar *@
        <a class="uk-button uk-button-primary uk-button-large" href="#criar-usuario" uk-toggle>Criar Usuário</a>
        <div id="criar-usuario" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>

                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Atenção</h2>
                </div>
                <div class="uk-modal-body">
                    <p>Tem certeza que deseja continuar?</p>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <input onClick="validarSenha()" class="uk-button uk-button-primary" value="Criar Usuario" />
                    @* <button type="submit" class="uk-button uk-button-primary">Criar</button> *@
                </div>
            </div>
        </div>

    </form>
</div>


