@model Usuario

@{
    ViewData["Title"] = "Criar Usuário";
}

<div class="uk-margin-medium uk-margin-small-top">
    <h1 class="uk-text-center uk-heading-line"><span>Cadastrar Usuário</span></h1>
</div>

@* onsubmit="return submitForm(event)" *@
<div class="uk-container uk-container-xsmall">
    <form id="criarUsuario" asp-controller="Usuario" asp-action="CriarUsuario" method="post" class="uk-form-stacked" role="form">
        <div class="uk-margin">
            <label asp-for="Nome" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" asp-for="Nome" placeholder="Digite o nome do usuário">
                <span asp-validation-for="Nome" class="uk-text-danger"></span>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Sobrenome" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input asp-for="Sobrenome" class="uk-input" placeholder="Digite o sobrenome do usuário">
                <span asp-validation-for="Sobrenome" class="uk-text-danger"></span>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="DataNascimento" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" asp-for="DataNascimento" placeholder="Digite ou selecione a data de nascimento">
                <span asp-validation-for="DataNascimento" class="uk-text-danger"></span>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Senha" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input id="Senha" class="uk-input" asp-for="Senha" placeholder="Digite a senha">
                <span asp-validation-for="Senha" class="uk-text-danger"></span>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="ConfirmarSenha" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input id="CSenha" class="uk-input" asp-for="ConfirmarSenha" placeholder="Confirme a senha">
                <span asp-validation-for="ConfirmarSenha" class="uk-text-danger"></span>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label uk-text-large" asp-for="EGestor"></label>
            <div class="uk-form-controls">
                <select class="uk-select" asp-for="EGestor">
                    <option value="" selected disabled hidden>Escolha uma opção</option>
                    <option value="false">Não</option>
                    <option value="true">Sim</option>
                </select>
                <span asp-validation-for="EGestor" class="uk-text-danger"></span>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Email.EnderecoEmail" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" asp-for="Email.EnderecoEmail" placeholder="Digite o endereço de email">
                <span asp-validation-for="Email.EnderecoEmail" class="uk-text-danger"></span>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Telefone.DDD" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input inputDDD" asp-for="Telefone.DDD" placeholder="Digite o DDD">
                <span asp-validation-for="Telefone.DDD" class="uk-text-danger"></span>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Telefone.Numero" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input inputTel" asp-for="Telefone.Numero" placeholder="Digite o número do telefone">
                <span asp-validation-for="Telefone.Numero" class="uk-text-danger"></span>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label uk-text-large" asp-for="Telefone.IdTipo"></label>
            <div class="uk-form-controls">
                <select class="uk-select" asp-for="Telefone.IdTipo">
                    <option value="" selected disabled hidden>Escolha uma opção</option>
                    <option value="1">Residencial</option>
                    <option value="2">Celular</option>
                    <option value="3">Emergencial</option>
                    <option value="4">Corporativo</option>
                </select>
                <span asp-validation-for="Telefone.IdTipo" class="uk-text-danger"></span>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Endereco.CEP" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input inputCep" id="cep" asp-for="Endereco.CEP" placeholder="Digite apenas os números do CEP">
                <span asp-validation-for="Endereco.CEP" class="uk-text-danger"></span>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Endereco.Rua" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" id="endereco" asp-for="Endereco.Rua" placeholder="Digite a rua">
                <span asp-validation-for="Endereco.Rua" class="uk-text-danger"></span>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Endereco.Bairro" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" id="bairro" asp-for="Endereco.Bairro" placeholder="Digite o bairro">
                <span asp-validation-for="Endereco.Bairro" class="uk-text-danger"></span>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Endereco.Numero" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" asp-for="Endereco.Numero" placeholder="Digite o número do local">
                <span asp-validation-for="Endereco.Numero" class="uk-text-danger"></span>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Endereco.Complemento" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input name="complemento" class="uk-input" asp-for="Endereco.Complemento" placeholder="Digite o complemento">
                <span id="complementoId"></span>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Endereco.Cidade" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" id="cidade" asp-for="Endereco.Cidade" placeholder="Digite a cidade">
                <span asp-validation-for="Endereco.Cidade" class="uk-text-danger"></span>
            </div>
        </div>

        <div class="uk-margin">
            <label asp-for="Endereco.UF" class="uk-form-label uk-text-large"></label>
            <div class="uk-form-controls">
                <input class="uk-input" id="uf" asp-for="Endereco.UF" placeholder="Digite o estado">
                <span asp-validation-for="Endereco.UF" class="uk-text-danger"></span>
            </div>
        </div>
        
        <button type="submit" onclick="return unMask()" class="uk-button uk-button-primary">Enviar</button>
        @* <button type="submit" class="uk-button uk-button-primary">Enviar</button> *@
        
        @* <a class="uk-button uk-button-primary uk-button-large" href="#criar-usuario" uk-toggle>Criar Usuário</a>
        <div id="criar-usuario" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>

                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Atenção</h2>
                </div>
                <div class="uk-modal-body">
                    <p>Tem certeza que deseja continuar?</p>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <input onClick="submitForm" class="uk-button uk-button-primary" value="Criar Usuario" />
                </div>
            </div>
        </div> *@
       
    </form>
</div>


